<% layout('layouts/boilerplate') %>

<body>
    <h1>All Surf Spots</h1>
    <div>
        <a href="/surfspots/new">Add Surf Spot</a>
    </div>
    <ul>
        <% for (let surfspot of surfspots) { %>
            <li>
                <a href="/surfspots/<%= surfspot.id %>">
                    <%= surfspot.location %>
                </a>
            </li>
        <% } %>
   

</body>

